.fa-linkedin {
    background: #007bb5;
    color: white;
   
}

.fa-github {
    background: #007bb5;
    color: white;
}

.fa-medium {
    background: #007bb5;
    color: white;
    font-size:48px;
}