.actors-card {
    background-color: rgba(0, 0, 0, 0.925) !important;
    height: 380px;
    border-radius: 5px !important;
    text-align: center;
    border: 5px solid black !important;
    border-radius: 10px;
    transition: .5s ease !important;
}

.actors-card:hover {
    border: 5px solid #0275d8 !important
}

.actors-card .actors-card-body p{
    transition: .5s ease ;

}

.actors-card:hover .actors-card-body p{
    color: #f0ad4e;
}

.actor-name {
    font-size: 16px;
    letter-spacing: .3px;
    color: #fff;
}

.actor-character {
    font-size: 13px;
    letter-spacing: .3px;
    color: #fff;
}